@media (prefers-color-scheme: dark) {
  :root.theme_dark {
    --accent-color: #ff0070;
    --main-font: IBM Plex mono;
    --color-header-title: #db00ff;
    --main-background-color: rgb(1, 0, 40);
    --content-color: #f1b2ce;
    --font-title: #000028;
    --color-scheme: dark;
  }
}
