:root .theme_light {
  --main-background-color: rgb(243, 233, 237);
  --content-color: #353430;
  --accent-color: #ff8dcb;
  --color-botton: #353430;
  --color-header-title: #ffc2e6;
  --font-title: #353430;
  --color-scheme: light;
}

@media (prefers-color-scheme: light) {
  .theme_auto {
    --main-background-color: rgb(243, 233, 237);
    --content-color: #353430;
    --accent-color: #ff8dcb;
    --color-botton: #353430;
    --color-header-title: #ffc2e6;
    --font-title: #353430;
    --color-scheme: light;
    background-image: url("../images/cover-image-light.png");
  }

  .header__theme-menu-button_active {
    outline: 1px solid #353430;
  }

  .theme_auto .header_decor {
    font-size: 0;
  }

  .theme_auto .header_decor::after {
    inline-size: 0;
    block-size: 0;
  }

  .align_element_top {
    border-right: #353430 solid 1px;
    border-top: #353430 solid 1px;
  }
  
  .align_element_bottom {
    border-left: #353430 solid 1px;
    border-bottom: #353430 solid 1px;
  }

  .header__theme-menu-button {
    color: var(--font-title);
  }

}

.page.theme_light {
  background-image: url("../images/cover-image-light.png");
}

.theme_light .header__theme-menu-button {
  color: var(--font-title);
}

.theme_light .header__theme-menu-button_active {
  outline: var(--font-title) solid 1px;
}

.theme_light .card_title {
  color: #353430;
}

.theme_light .header_decor {
  font-size: 0;
}

.theme_light .header_decor::after {
  inline-size: 0;
  block-size: 0;
}

.theme_light .align_element_top {
  border-right: #353430 solid 1px;
  border-top: #353430 solid 1px;
}

.theme_light .align_element_bottom {
  border-left: #353430 solid 1px;
  border-bottom: #353430 solid 1px;
}
