.page {
  font-family: var(--main-font, Sans-serif);
  background-color: var(--main-background-color);
  font-size: 18px;
  padding: 10px;
  background-image: url("../images/cover-image-dark.png");
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 35px 1fr 1fr 1fr 35px;
  margin-bottom: 50px;
  min-height: 668px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

.header_decor {
  color: var(--accent-color);
  position: absolute;
  text-transform: uppercase;
  justify-self: end;
  margin: 2px 25px 0 0;
}

.header_decor::after {
  content: "\00A0";
  display: inline-block;
  inline-size: 12px;
  block-size: 12px;
  background-color: var(--accent-color);
  align-self: center;
  border-radius: 9px;
  position: absolute;
  margin: 5px 0 0 6px;
  box-shadow: 0px 0px 10px var(--accent-color);
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--accent-color);
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  border: none;
  cursor: pointer;
  height: 26px;
  padding: 1.5px 13px;
  margin-top: 10px;
}

.header__theme-menu-button:hover {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: solid 1px rgba(255, 0, 112, 0.4);
}

.header__theme-menu {
  justify-self: self-end;
  margin-top: 26px;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--color-header-title);
  line-height: 95px;
  /*align-self: self-end;*/
  margin-top: 8px;
}

.header_content {
  margin-block: 55px 0px;
  justify-self: end;
}

.accent-title {
  font-weight: 700;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--font-title);
  font-size: inherit;
  margin-bottom: 8px;
}

.content_indent {
  margin-top: 20px;
}

.main_card {
  display: grid;
  gap: 22px;
  color: var(--content-color);
  margin-bottom: 50px;
  line-height: 23.4px;
}

.card_title {
  color: var(--accent-color);
  font-size: inherit;
  /*max-width: 236px;*/
}

.subtitle {
  font-weight: 400;
}

.content_link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  cursor: pointer;
}

.content_link:hover {
  border-bottom: var(--content-color) solid 1px;
}

.content_link:focus {
  outline: none;
}

.content_link:focus-visible {
  outline: var(--content-color) solid 1px;
}

.card_image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.card_images {
  display: grid;
  gap: 10px;
}

.heading {
  margin: 0;
}

.footer {
  display: grid;
  grid-template-rows: 3fr 1fr 3fr;
  height: 668px;
}

.footer_title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--color-header-title);
  line-height: 95px;
  justify-self: center;
}

.haeder_or_footer_angle {
  content: "\00A0";
  display: inline-block;
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
}

.align_element_top {
  justify-self: self-end;
  margin-top: 10px;
  border-right: var(--accent-color) solid 1px;
  border-top: var(--accent-color) solid 1px;
}

.align_element_bottom {
  justify-self: self-start;
  /*align-self: self-start;*/
  margin-bottom: 10px;
  border-left: var(--accent-color) solid 1px;
  border-bottom: var(--accent-color) solid 1px;
}

@media (min-width: 760px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding: 0;
  }

  .header_content {
    inline-size: 50%;
    margin-top: 25px;
    padding-top: 25px;
    font-size: inherit;
  }

  .main_card:nth-child(odd) {
    grid-template-columns: minmax(236px, 30%) auto;
  }

  .card_images {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, max-content);
    grid-template-areas:
      "heading heading heading"
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }

  .heading {
    grid-area: heading;
  }

  .books {
    grid-area: books;
  }
  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .street {
    grid-area: street;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .header {
    grid-template-columns: 1fr 30px;
    grid-template-rows: 1fr 2fr 1fr 30px;
    grid-template-areas:
      "menu decor_top"
      "header_title header_title"
      "header_content header_content"
      "decor_bottom decor_bottom";
  }

  .header__theme-menu {
    grid-area: menu;
    justify-self: center;
    align-self: start;
  }

  .decor_top {
    grid-area: decor_top;
  }

  .header__title {
    grid-area: header_title;
    align-self: center;
  }

  .header_content {
    grid-area: header_content;
  }

  .decor_bottom {
    grid-area: decor_bottom;
  }

  .card_1024 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .content_indent {
    margin-top: 0;
  }

  .card_title {
    max-inline-size: 315px;
  }
}
