.page {
  font-family: var(--main-font, Sans-serif);
  background-color: var(--main-background-color);
  font-size: 18px;
  background-image: url("../images/cover-image-dark.png");
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 26px 1fr 1fr 1fr 26px;
  min-height: 668px;
  padding: 10px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

.header_decor {
  color: var(--accent-color);
  position: absolute;
  text-transform: uppercase;
  justify-self: end;
  margin-right: 0px;
  margin: 2px 26px 0 0;
}

.haeder_or_footer_angle::after {
  content: "\00A0";
  display: inline-block;
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
}

.header_decor::after {
  content: "\00A0";
  display: inline-block;
  inline-size: 12px;
  block-size: 12px;
  background-color: var(--accent-color);
  align-self: center;
  border-radius: 9px;
  position: absolute;
  margin: 5px 0 0 6px;
  box-shadow: 0px 0px 10px var(--accent-color);
}

.align_element_top {
  justify-self: self-end;
  align-self: self-start;
  border-right: var(--accent-color) solid 1px;
  border-top: var(--accent-color) solid 1px;
}

.align_element_bottom {
  justify-self: self-start;
  align-self: self-end;
  border-left: var(--accent-color) solid 1px;
  border-bottom: var(--accent-color) solid 1px;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--accent-color);
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  border: none;
  cursor: pointer;
  height: 26px;
  padding: 1.5px 13px;
  margin-top: 10px;
}

.header__theme-menu-button:hover {
  outline: solid 1px rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color-botton);
}

.header__theme-menu {
  justify-self: self-end;
  margin-top: 28px;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--color-header-title);
  line-height: 95px;
  align-self: center;
}

.header_content {
  margin-block-start: 34px;
  justify-self: end;
}

.accent-title {
  font-weight: 700;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--font-title);
  font-size: inherit;
  margin-block: 20px 10px;
}

.main_card {
  display: grid;
  color: var(--content-color);
  line-height: 23.4px;
  padding: 40px 10px 10px 10px;
}

.card_title {
  color: var(--accent-color);
  font-size: inherit;
}

.subtitle {
  font-weight: 400;
}

.content_link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  cursor: pointer;
}

.content_link:hover {
  border-bottom: var(--content-color) solid 1px;
}

.content_link:focus {
  outline: none;
}

.content_link:focus-visible {
  outline: var(--content-color) solid 1px;
}

.card_image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.card_images {
  display: grid;
  gap: 10px;
}

.heading {
  margin: 0;
}

.footer {
  display: grid;
  grid-template-rows: 3fr 1fr 3fr;
  max-block-size: 668px;
  margin-block-start: 30px;
  padding: 10px;
}

.footer_title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--color-header-title);
  line-height: 95px;
  justify-self: center;
}

@media (min-width: 768px) {
  .header {
    min-block-size: 1024px;
    padding: 20px 20px 20px 0;
    margin-block-end: 60px;
  }

  .header__theme-menu {
    padding-block-start: 38px;
    align-self: center;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header_content {
    inline-size: 48.5%;
    margin-block-start: 36px;
    font-size: inherit;
  }

  .main_card {
    padding: 0 20px 0 20px;
    margin-block-end: 80px;
    gap: 20px;
  }

  .main_card:last-child {
    margin-block-end: 60px;
  }

  .indent {
    margin-block-start: 0;
  }

  .card_title {
    max-width: 236px;
  }

  .align_element_bottom {
    margin-inline-start: 20px;
  }

  .footer .align_element_bottom {
    margin-inline-start: 0;
  }

  .main_card:nth-child(odd) {
    grid-template-columns: minmax(236px, 30%) auto;
  }

  .card_images {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, max-content);
    grid-template-areas:
      "heading heading heading"
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }

  .heading {
    grid-area: heading;
  }

  .books {
    grid-area: books;
  }
  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .street {
    grid-area: street;
  }

  .footer {
    min-height: 1024px;
    padding: 20px;
  }

  .footer_title {
    margin-block-start: 28px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .header {
    grid-template-columns: 1fr 30px;
    grid-template-rows: 1fr 2fr 1fr 30px;
    grid-template-areas:
      "menu decor_top"
      "header_title header_title"
      "header_content header_content"
      "decor_bottom decor_bottom";

    min-height: 768px;
  }

  .header__theme-menu {
    grid-area: menu;
    justify-self: center;
    align-self: start;
    padding: 0;
    margin-block-start: 0;
    margin-inline-start: 50px;
  }

  .header__theme-menu-button {
    margin: 0;
  }

  .decor_top {
    grid-area: decor_top;
  }

  .header__title {
    grid-area: header_title;
    align-self: center;
    margin-block-start: 30px;
  }

  .header_content {
    grid-area: header_content;
    margin-block-start: 0;
  }

  .decor_bottom {
    grid-area: decor_bottom;
  }

  .main_card:nth-child(odd) {
    grid-template-columns: minmax(315px, 30%) auto;
  }

  .card_1024 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .card_title {
    max-inline-size: 315px;
    max-width: 315px;
  }

  .ident_1024 {
    margin-top: 0;
  }

  .footer {
    min-height: 768px;
  }

  .footer_title {
    font-size: 157px;
    margin-block-start: 2px;
  }
}
